<h1>NEW POST</h1>

<form action="/videos" method="POST">
	
	<label for="title"><br><br>Title: </label>
	<input type="text" name="title" placeholder="Video Title">

	<label for="description"><br><br></label>
	<textarea name="description" placeholder="Enter Description"></textarea>

	<label for="url"><br><br></label>	
	<textarea name="url" placeholder="Enter JUST the embed link (no HTML) part of embed URL"></textarea>

	<label for="genre"><br><br></label>
	<textarea name="genre" placeholder="Enter Genre"></textarea>

	<input type="submit" value="Save">

</form>